@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    text-align: center;
    backdrop-filter: blur(10px);
}

h1 {
    color: #1abc9c;
    margin-bottom: 20px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #1abc9c;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #7f8c8d;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ecf0f1;
    font-size: 16px;
}

input[type="number"]::placeholder {
    color: #bdc3c7;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #16a085;
}

.mark-input {
    width: calc(100% - 24px);
    margin-bottom: 5px;
}

p {
    font-size: 18px;
}

p span {
    font-weight: bold;
    color: #1abc9c;
}
